<style>
    .param {
        margin-bottom: 7px;
        line-height: 1.4;
    }

    .param-inline dt {
        display: inline-block;
    }

    .param dt {
        margin: 0;
        margin-right: 7px;
        font-weight: 600;
    }

    .param-inline dd {
        vertical-align: baseline;
        display: inline-block;
    }

    .param dd {
        margin: 0;
        vertical-align: baseline;
    }

    .shopping-cart-wrap .price {
        color: #007bff;
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
        display: block;
    }

    var {
        font-style: normal;
    }

    .media img {
        margin-right: 1rem;
    }

    .img-sm {
        width: 90px;
        max-height: 75px;
        object-fit: cover;
    }
</style>




<div class="card">
    <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
            <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col" width="120">Số lượng</th>
                <th scope="col" width="120">Giá cả</th>
                <th scope="col" width="200" class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>
                    <figure class="media">
                        <div class="img-wrap"><img src="{{this.img_thumb}}"
                                class="img-thumbnail img-sm"></div>
                        <figcaption class="media-body">
                            <h6 class="title text-truncate">{{this.nameProduct}}</h6>
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <input type="text" class="form-control" value="{{this.qty}}">
                </td>
                <td>
                    <div class="price-wrap">
                        <var class="price">USD {{this.price}}</var>
                    </div> 
                </td>
                <td class="text-right">
                    <a title="" href="/product/edit?id={{this._id}}" class="btn btn-outline-success" data-toggle="tooltip"> Sửa</a>
                    <a href="/product/delete?id={{this._id}}" class="btn btn-outline-danger"> × Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>


