

<style>
    #edit_user{
        margin: 10px 20px;
    }
    .img_thumb{
      width:200px;
      height: 200px;
      overflow: hidden;
    }
    #img_thumb_{
      width:100%;
    }
</style>
<div class="img_thumb">
  <img src="{{user.avatar}}" alt="" id="img_thumb_">
</div>

<form id="edit_user" method="POST" action="/user/edit/{{user.userID}}">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="text" class="form-control" id="inputPassword4" value="{{user.password}}" name="password">
    </div>
  </div>
  <div class="form-group">
    <label for="fullname">Fullname</label>
    <input type="text" class="form-control" id="fullname" value="{{user.fullname}}" name="fullname">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phoneNumber">Số điện thoại</label>
      <input type="text" class="form-control" id="phoneNumber" value="{{user.phoneNumber}}" name="phoneNumber">
    </div>
    <div class="form-group col-md-2">
      <label for="gender">Giới tính</label>
      <select id="gender" class="form-control" name="gender">
        <option>===Giới tính===</option>
        <option value="male" {{show_gender 'male' user.gender}}>Nam</option>
        <option value="female" {{show_gender 'female' user.gender}}>Nữ</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="dob">Ngày sinh</label>
      <input type="date" class="form-control" id="dob" value="{{user.dateofbirth}}" name="dob">
    </div>
    <div class="form-group col-md-2">
      <label for="avatar">Avatar</label>
      <input type="input" class="form-control" id="avatar" value="{{user.avatar}}" name="avatar">
    </div>
    <div class="form-group col-md-12">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" value="{{user.address}}" name="address">
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Lưu lại</button>
</form>