<style>
    .param {
        margin-bottom: 7px;
        line-height: 1.4;
    }

    .param-inline dt {
        display: inline-block;
    }

    .param dt {
        margin: 0;
        margin-right: 7px;
        font-weight: 600;
    }

    .param-inline dd {
        vertical-align: baseline;
        display: inline-block;
    }

    .param dd {
        margin: 0;
        vertical-align: baseline;
    }

    .shopping-cart-wrap,
    thead,
    tbody,
    tr {
        display: block;
        width: 100%;
    }

    .shopping-cart-wrap .price {
        color: #007bff;
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
        display: block;
    }

    var {
        font-style: normal;
    }

    .media img {
        margin-right: 1rem;
    }

    .img-sm {
        width: 90px;
        max-height: 75px;
        object-fit: cover;
    }

    .edit_collection {
        color: black;
        font-size: 22px;
        font-weight: 600;
        padding: 20px 20px;
        background-color: rgb(65, 129, 97);
        display: flex;
        justify-content: space-between;
    }
    .product_thumb{
        width: 20%;
    }
    .product_thumb img{
        width: 100%;
        height: auto;
    }
    .product_name{
        width: 50%;
    }
    .product_price{
        width: 13%;
    }
    .action{
        width: 17%;
    }
</style>



<div class="edit_collection">
    <h3>Chỉnh sửa bộ sưu tập</h3>
    <a href="/collection" class="btn btn-primary">Danh sách bộ sưu tập</a>
</div>
<form class="row" method="POST">
    <div class="form-group col-md-10">
        <label for="collection_name" style="font-size: 18px; padding: 10px 10px;">Tên bộ sưu tập</label>
        <input type="email" class="form-control " id="collection_name" name="nameCollection"
            value="{{collection.nameCollection}}">
    </div>
    <input type="submit" value="Cập nhật" class="btn btn-primary col-md-2" style="height: 40px; margin-top: 53px;">
</form>
<div class="row">
    <div class="col-md-6">
        <h3>Danh sách sản phẩm trong bộ sưu tập</h3>
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" class="product_thumb">Ảnh sản phẩm</th>
                        <th scope="col" class="product_name">Tên sản phẩm</th>
                        <th scope="col" class="product_price">Giá cả</th>
                        <th scope="col" class="text-right action">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productsInCollection}}
                    <tr>
                        <td class="product_thumb"><img src="{{this.img_thumb}}" alt=""></td>
                        <td class="product_name">
                            <p>{{this.nameProduct}}</p>
                        </td>
                        <td class="product_price">
                            <p>{{this.price}} USD</p>
                        </td>
                        <td class="text-right action">
                            <a href="/collection/delProduct?id_collection={{../collection._id}}&id_product={{this._id}}&nameProduct={{this.nameProduct}}&img_thumb={{this.img_thumb}}&price={{this.price}}" class="btn btn-outline-danger"> × Xóa</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Danh sách sản phẩm trong kho</h3>
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col" class="product_thumb">Ảnh sản phẩm</th>
                        <th scope="col" class="product_name">Tên sản phẩm</th>
                        <th scope="col" class="product_price">Giá cả</th>
                        <th scope="col" class="text-right action">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td class="product_thumb"><img src="{{this.img_thumb}}" alt=""></td>
                        <td class="product_name">
                            <p>{{this.nameProduct}}</p>
                        </td>
                        <td class="product_price">

                            <p>{{this.price}} USD</p>
                        </td>
                        <td class="text-right action">
                            <a href="/collection/addProduct?id_collection={{../collection._id}}&id_product={{this._id}}&nameProduct={{this.nameProduct}}&img_thumb={{this.img_thumb}}&price={{this.price}}" class="btn btn-outline-primary"> + Thêm</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>